In [1]:
# importing libraries
import pandas
import scipy
import numpy
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix, classification_report

In [2]:
dtcolumn  = ["sentiment", "ids", "date", "flag", "user", "text"]
dataframe = pandas.read_csv("/content/drive/MyDrive/Colab Notebooks/training.1600000.processed.noemoticon.csv", encoding='ISO-8859-1',names=dtcolumn)
dataframe[0:3]

,sentiment,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

In [3]:
dataframe["sentiment"].unique()

array([0, 4])

In [4]:
df = dataframe[['sentiment','text']]

In [5]:
df[:-20]

         sentiment                                               text
0                0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1                0  is upset that he can't update his Facebook by ...
2                0  @Kenichan I dived many times for the ball. Man...
3                0    my whole body feels itchy and like its on fire
4                0  @nationwideclass no, it's not behaving at all....
...            ...                                                ...
1599975          4  @BizCoachDeb  Hey, I'm baack! And, thanks so m...
1599976          4  @mattycus Yeah, my conscience would be clear i...
1599977          4  @MayorDorisWolfe Thats my girl - dishing out t...
1599978          4                          @shebbs123 i second that
1599979          4                                     In the garden

[1599980 rows x 2 columns]

In [6]:
df["sentiment"].value_counts()

0    800000
4    800000
Name: sentiment, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1600000 non-null  int64
 1   text       1600000 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [8]:
from sklearn.model_selection import train_test_split

In [9]:

# get the locations
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
 
# split the dataset
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.30, random_state=0)

In [10]:
y_train.head(50)

1517114    @alex_c_m No good! Sore lip? Sorted mine w/pep...
1113746          The climb ? omg, i lov this song. Lol  xoxo
695250     @Rapagena now-a-days i have big trust issues w...
296978                  thinks view camera sucks... help me
1244525    Poo #3: Better than #2 but nowhere near as goo...
1431398              @Britneyxsucks hahha mexicans are cool
586359     @EderDesigns  no imax where i'm from dude...ye...
1562522    @feeprinzessin oh lol no problem  I'll put a p...
947408     Back at the house...Made some money and proved...
1224091    @joeconway My course versus Claire's... I thin...
1124319    Nush cit de frinedly interface va avea google ...
1353819    Going to sleep! Had a long and fun day! I laug...
242883     @Penguin4life LOL!!! No, it was my family that...
780059     i am very frustrated with #youtube right now.....
366799     Enjoying family movie night with the girls, mi...
1006515    @JanetcBaby still here n baru got serviced .. ...
52283       @ChynaDoll74 lmao...still want a lil one though
684374                                My tailbone hurts!!!!
1311061    @abuscher ESL is more valuable at this time th...
593597     @xxandip Morning Sunshine! where r u going? so...
60775      a BFN again   I am okay though I will lean on ...
1048378    @egillhardar Congrats on your new job  Good luck!
106494                  god i miss you  come home soon &lt;3
706597     lower numbers than what I saw before mozilla c...
557059     season 2 of the office is so grueling emotiona...
972426     money blog is back up and running at 110% .......
1329731    @Jecsa, Nevermind  Mine's a pint,keep it cool ...
1553657    I know the release date is overdue but it will...
234220     @mcshortstack YES!!!! Wasn't it amazing, but t...
637193                                   Soo Fuckin Over It
909320     am fost la Obosession....a fost cam trist, ca ...
1348969    @bsimi @rshotel @ozsultan let's make tonight's...
766042            Having such a bad day.... its sooo HOTTT.
1385196    @gaasland Yeah, that's a good argument â per...
120939     I have DSLR camera envy.  And now is an especi...
1121108    @tacojones  you make me excited! i have a lot ...
152643     @mizzlalabaybii I WANNA GOOOOOOO.... BUTTTTTT ...
913887     @CynthiaY29 Nice info, I forwarded this to a n...
845482     @chantaleto Hello! I deleted the picture for m...
714382                        Closing tonight at the store.
962655     @PheasantPhun Good luck and have an awesome ti...
1562927    Watchin Runs house...Rev is 1 goofy muf**ka LM...
541228     Photo: I wish i had one of these Octopus Flash...
1003535    @Moni7dSHEGETDOE thats because i'm the only on...
623806     @jerseyzmorenita last time I came out there U ...
1425336    Our God is SO good!  You}e right Angela, favor...
302924     going to bed!!!!! ready to buy season 4 of 2 a...
291730     Away to watch Thursday's EastEnders, got a bit...
692459                               argh!!!! writers block
739535     Happy Father's Day! My daddy made breakfast fo...
Name: text, dtype: object

In [ ]:
# logistic regression object
lr = LogisticRegression()
  
# train the model on train set
lr.fit(X_train, y_train.ravel())
  
predictions = lr.predict(X_test)
  
# print classification report
print(classification_report(y_test, predictions))